<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <script defer src="https://unpkg.com/vue@next"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <div id="menu"> 
            <div v-if="portada" id="pagina1" class="portada">
                <h1 class="portada__cabeza" v-text="nombre"></h1>
                <p class="portada__parrafo" v-text="parrafo"></p>
                <button class="btnMsj" v-on:click="cambioMsj" type="button">{{msj}}</button>
                <button class="flecha" type="button" v-on:click="primerCambioPagina"><img class="pagina1__flecha" src="/imagenes/2024661_arrow_arrows_direction_right_icon.png"></img></button>'
            </div>

            <div v-if="pagina1" class="paginaMenu">
                <h1 class="paginaMenu__tituloMenu">Menú</h1>
                <div class="contenedor">
                     <div class="imgs">
                        <div class="imgsGroup">
                            <img src="/imagenes/comida1.jpeg" class="imgsGroup__item">
                            <img src="/imagenes/comida2.jpeg" class="imgsGroup__item"> 
                        </div>
                        <div class="imgsGroup">
                            <img src="/imagenes/comida3.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/comida4.jpeg" class="imgsGroup__item"> 
                        </div>

                        <div class="imgsGroup">
                            <img src="/imagenes/comida5.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/comida6.jpeg" class="imgsGroup__item"> 
                        </div>
                     </div>
                    
                    <div>
                        <img id="paginaMenu__itemGrande" class="paginaMenu__itemGrande">  
                        <h2 class="paginaMenu__nombrePlatillo">{{nom}}</h2>  
                        <p class="paginaMenu__descripcion">{{descripcion}}</p>
                    </div>
                </div>
                <div class="flechas">
                    <button class="flechaI" @click="cambioIzq(1)" type="button"><img src="/imagenes/2024662_arrow_arrows_direction_left_icon.png"></button>
                    <button class="flechaD" @click="cambioDer(1)" type="button"><img src="/imagenes/2024661_arrow_arrows_direction_right_icon.png"></button>
                </div>
            </div> 
            <div v-if="pagina2" class="paginaMenu">
                <h1 class="paginaMenu__tituloMenu">Menú</h1>
                <div class="contenedor">
                      <div class="imgs">
                        <div class="imgsGroup">
                            <img src="/imagenes/refresco1.jpeg" class="imgsGroup__item">
                            <img src="/imagenes/refresco2.jpeg" class="imgsGroup__item"> 
                        </div>
                        <div class="imgsGroup">
                            <img src="/imagenes/refresco3.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/refresco4.jpeg" class="imgsGroup__item"> 
                        </div>

                        <div class="imgsGroup">
                            <img src="/imagenes/refresco5.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/refresco6.jpeg" class="imgsGroup__item"> 
                        </div>
                     </div>
                    
                     <div>
                        <img class="paginaMenu__itemGrande" id="paginaMenu__itemGrande">  
                        <h2 class="paginaMenu__nombrePlatillo">{{nom}}</h2>  
                        <p class="paginaMenu__descripcion">{{descripcion}}</p>
                    </div>
                </div>
                <div class="flechas">
                    <button class="flechaI" @click="cambioIzq(2)" type="button"><img src="/imagenes/2024662_arrow_arrows_direction_left_icon.png"></button>
                    <button class="flechaD" @click="cambioDer(2)" type="button"><img src="/imagenes/2024661_arrow_arrows_direction_right_icon.png"></button>
                </div>
            </div> 
            <div v-if="pagina3" class="paginaMenu">
                <h1 class="paginaMenu__tituloMenu">Menú</h1>
                <div class="contenedor">
                       <div class="imgs">
                        <div class="imgsGroup">
                            <img src="/imagenes/postre1.jpeg" class="imgsGroup__item">
                            <img src="/imagenes/postre2.jpeg" class="imgsGroup__item"> 
                        </div>
                        <div class="imgsGroup">
                            <img src="/imagenes/postre3.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/postre4.jpeg" class="imgsGroup__item"> 
                        </div>

                        <div class="imgsGroup">
                            <img src="/imagenes/postre5.jpeg" class="imgsGroup__item">      
                            <img src="/imagenes/postre6.jpeg" class="imgsGroup__item"> 
                        </div>
                     </div>
                    
                     <div>
                        <img class="paginaMenu__itemGrande" id="paginaMenu__itemGrande">  
                        <h2 class="paginaMenu__nombrePlatillo">{{nom}}</h2>  
                        <p class="paginaMenu__descripcion">{{descripcion}}</p>
                    </div>
                </div>
                <div class="flechas">
                    <button class="flechaI" @click="cambioIzq(3)" type="button"><img src="/imagenes/2024662_arrow_arrows_direction_left_icon.png"></button>
                    <button class="flechaD" @click="cambioDer(3)" type="button"><img src="/imagenes/2024661_arrow_arrows_direction_right_icon.png"></button>
                </div>
            </div> 
        </div>       
    </main>
</body>
</html>
