body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid blue;
    background-image: url(/imagenes/hamburger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.paginas{
    width: 90%;
}
.pagina1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid blue;
   
}

.pagina1__heading, .pagina1__heading{
    text-align: center;
}

.paginaAjustable{
    display: grid;
    grid-template-areas: 'paginaAjustable__tituloMenu paginaAjustable__tituloMenu paginaAjustable__itemGrande paginaAjustable__itemGrande'
    'paginaAjustable__item1 paginaAjustable__item2 pagunaAjustable__tituloMenu paginaAjustable__itemGrande paginaAjustable__itemGrande'
    'paginaAjustable__item3 paginaAjustable__item4 paginaAjustable__tituloPlatillo paginaAjustable__tituloPlatillo'
    'paginaAjustable__item5 paginaAjustable__item6 paginaAjustable__descripcion paginaAjustable__descripcion'
    '..direccion.';
}

.paginaAjustable__tituloMenu{grid-area: pagunaAjustable__tituloMenu;} 
.paginaAjustable__itemGrande{grid-area: paginaAjustable__itemGrande;} 
.paginaAjustable__item1{grid-area: paginaAjustable__item1;} 
.paginaAjustable__item2{grid-area: paginaAjustable__item2;} 
.paginaAjustable__item3{grid-area: paginaAjustable__item3;} 
.paginaAjustable__item4{grid-area: paginaAjustable__item4;}
.paginaAjustable__item5{grid-area: paginaAjustable__item5;} 
.paginaAjustable__item6{grid-area: paginaAjustable__item6;} 
.paginaAjustable__tituloPlatillo{grid-area: paginaAjustable__tituloPlatillo;}
.paginaAjustable__descripcion{grid-area: paginaAjustable__descripcion;}
.direccion{
    grid-area: direccion;
}
.pagina1__flecha{
    display: block;
    
}

.pagina1__btnMsj{
    margin: 10px;
}

.direccion__flecha,.pagina1__flecha{
    border:0;
    background-color: black;
    border-radius: 12px;
}

.direccion__flecha:active,.pagina1__flecha:active{
    background-color: aqua;
    border-radius: 12px;
}
