body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

main{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid blue;
    background-image: url(/imagenes/hamburger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.paginaMenu{
    
    border: 7px solid blue;
    width: 80vw;
    height: 80vh;
   
}

.contenedor{
    display: flex;
    
}
.imgsGroup{
    display: flex;
}

.flechas{
    margin: auto;
    width:fit-content;
}
.imgs{
    margin: 0 7px;
    border-right: 7px solid blue;
}
.imgsGroup__item{
    width:100px;
    margin: 5px;
}


.portada__cabeza,.portada__parrafo{
    margin: auto;
}

.btnMsj{
    margin: auto;
}
.flecha{
    display: block;
    margin: 30px auto;
}
.flechaI,.flechaD,.flecha{
    border:0;
    background-color: black;
    border-radius: 12px;
    margin: auto;
}

.flechaI:active,.flechaD:active.lecha:active{
    background-color: aqua;
    border-radius: 12px;
}
